/* CSS Selector */
body {
  /*CSS Declaration */
  /* CSS Rule property:value; */
  background-color: rgb(221, 96, 96);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  /* Longhand*/
   border-color: black;
   border-width: 4px;
   border-style: solid;
}
 
   navigationList {
    display: flex;
    gap: 10px;
    list-style-type: none;
  }
  

  /* Shorthand */
  border: black 4px solid;

  padding: 5px;
  margin: 5px;
}
